<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뷰 기초</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    </style>
</head>
<body>
    <div id="app">
        <h2>v-if문</h2>
        <template v-if="number === 1">
            <!-- template로 여러개를 하나로 묶어줌 -->
        <div>1</div>
        <div>2</div>
        <div>3</div>
        </template>
        <div v-else-if="number === 2">hoho</div>
        <div v-else>No</div>
        <button @Click="increase">클릭</button>{{number}}

       <div v-if="show">Yes</div>
       <div v-else>No</div> <br>
       <!-- show가 트루면 렌더링이 되고 펄스면 렌더링이 안됨 -->
       <button @Click="updateShow">클릭</button>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                show: true,
                number: 1
            },
            methods: {
                updateShow(){
                    this.show = !this.show;
                },
                increase(){
                    this.number++;
                }
            }
        })
    </script>
</body>
</html>